# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
Thumbs.db

# Virtual Environments
.venv/
venv/
ENV/
env/
/models
# Jupyter Notebooks
.ipynb_checkpoints

# pytest cache
.pytest_cache/

# Local IDEs
.vscode/
.idea/

# Environment and secrets
.env
.env.*
secrets.toml
.streamlit/secrets.toml

# Misc local-only files
*.log
*.sqlite3
